$rpg-background: white;
$rpg-main-color: rgba(27, 25, 26, 1);
$rpg-green: rgba(57, 165, 126);
$rpg-pink: rgba(240, 207, 207);
$rpg-red: rgba(197, 108, 99, 1);
$rpg-light-green: rgba(82, 187, 190, 1);
$sm-breakpoint: 680px;
$md-breakpoint: 1240px;
