footer {
    background-color: rgba(18, 18, 18, 1);
    color: white;
    text-align: center;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    nav {
        margin-right: 50px;
        ul {
            list-style: none;
        }
    }

    img {
        width: 64px;
    }

    h3 {
        margin: 0;
        color: $rpg-red;
    }

    p:last-child {
        margin: 0;
    }

    a:link {
        color: rgba(238, 127, 76, 1);
    }
}
